.node circle {
    stroke: rgb(72, 255, 0);
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
    fill: white;
}

.link {
    fill: none;
    stroke: rgb(25, 0, 255);
    stroke-width: 2px;
}