
<nav class="navbar navbar-light bg-secondary">
    <div class="container">
        <h1>MatrioshTS</h1>
    </div>
    
</nav>

<div class="card-group p-5" role="group">
    <div  class="card bg-success">
        <h4 _ngcontent-srk-c16="" class="list-group-item list-group-item-primary text-center text-success bg-light">Entrada</h4>
        <div _ngcontent-srk-c16="" class="card-body p-3 mb-2 bg-transparent">
            <ngx-codemirror [(ngModel)]="entrada" [options]="{ lineNumbers: true, theme: '3024-night', mode: 'javascript'}">
            </ngx-codemirror>
        </div>
        <button _ngcontent-srk-c16="" (click)="ejecutar()" type="button" id="btnEjecutar" class="btn p-2 mb-1 btn-outline-success btn-lg bg-warning text-light">Ejecutar</button>
        <button _ngcontent-srk-c16="" (click)="traducir()" type="button" id="tbnTraducir" class="btn p-2 mb-1 btn-outline-success btn-lg bg-info text-light">Traducir</button>
    </div>
    <div _ngcontent-srk-c16="" class="card bg-danger">
        <h4 _ngcontent-srk-c16="" class="list-group-item list-group-item-primary text-center text-danger bg-light">Salida</h4>
        <div _ngcontent-srk-c16="" class="card-body  bg-secondary btn-lg bg-danger">
            <ngx-codemirror [(ngModel)]="salida" [options]="{ lineNumbers: true, theme: '3024-night', mode: 'javascript', readOnly: 'true'}">
            </ngx-codemirror>    
        </div>
        <button _ngcontent-srk-c16="" (click)="verAST()" type="button" id="btnAST" class="btn p-2 mb-1 btn-outline-danger btn-lg bg-primary text-light">AST</button>
        <button _ngcontent-srk-c16="" (click)="verErrores()" type="button" id="btnErrores" class="btn p-2 mb-1 btn-outline-danger btn-lg bg-secondary text-light">Errores</button>
        <button _ngcontent-srk-c16="" (click)="verEntornos()" type="button" id="btnEntorno" class="btn p-2 mb-1 btn-outline-danger btn-lg bg-success text-light">Entornos</button>
    </div>
</div>

<div class="card-group bg-transparent invisible"  role="group" id="errores">
    <div _ngcontent-srk-c16="" class="card table-responsive"  >
        <table class="table table-bordered table-striped text-center" id="tablaErrores">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fila</th>
                    <th scope="col">Columna</th>
                </tr>
            </thead>
            
            <tbody id="infoTabla" >
                <!--><option *gnFor="let valor of this.errores">
                    <tr>
                        <th scope="col">{{valor.tipo}}</th>
                        <th scope="col">{{valor.descripcion}}</th>
                        <th scope="col">{{valor.fila}}</th>
                        <th scope="col">{{volor.columna}}</th>
                    </tr>
                </option><-->
            </tbody>
        </table>
    </div>
</div>

<div class="card-group bg-transparent"  role="group">

</div>

<div class="card-group bg-transparent invisible"  role="group" id="ambitos">
    <div _ngcontent-srk-c16="" class="card table-responsive"  id="tablaambitos">
        
    </div>
</div>

<div class="card-group p-5 invisible" role="group" id="ast">
    <div _ngcontent-srk-c16="" class="card bg-transparent">
        <svg></svg>
    </div>
</div>
